/* Fuentes */
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
font-family: "Montserrat", sans-serif;
}

/* Colores /
body {
color: black;
background-color: white;
}
a {
color: #1e90ff; / Azul oscuro /
}
h1, h2, h3 {
color: #e60000; / Rojo /
}
#services, #portfolio, #about, #contact {
background-color: #f8f8f8; / Gris claro */
}

/* Estilo de enlaces /
a {
text-decoration: none;
border-bottom: 2px solid #1e90ff; / Azul oscuro /
}
a:hover {
border-bottom-color: #e60000; / Rojo */
}

/* Estilo de galería */
.gallery {
display: flex;
flex-wrap: wrap;
}
.gallery img {
width: 50%;
padding: 10px;
box-sizing: border-box;
}

/* Estilo de formulario /
form {
display: flex;
flex-direction: column;
}
label, input, textarea {
margin: 5px 0;
font-size: 1.2em;
}
input, textarea {
padding: 5px;
border: none;
border-bottom: 2px solid #1e90ff; / Azul oscuro /
background-color: transparent;
}
input:focus, textarea:focus {
outline: none;
border-bottom-color: #e60000; / Rojo /
}
button[type="submit"] {
margin-top: 10px;
padding: 10px;
background-color: #1e90ff; / Azul oscuro /
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
button[type="submit"]:hover {
background-color: #e60000; / Rojo */
}

/* Estilo de encabezado y pie de página */
header, footer {
background-color: black;
color: white;
text-align: center;
}
header h1 {
font-size: 3em;
margin: 0;
}
header p {
font-size: 1.5em;
margin: 0;
}
footer p {
font-size: 0.8em;
margin: 0;
padding: 10px;
}

/* Estilo de secciones */
section {
padding: 50px 20px;
}

/* Estilo de servicios /
.service {
margin-bottom: 50px;
}
.service h3 {
margin: 0;
font-size: 2em;
color: #e60000; / Rojo */
}
.service p {
margin: 20px 0;
font-size: 1.2em;
}
