/* Reset styles */

{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Body styles */
body {
font-family: 'Helvetica Neue', sans-serif;
font-size: 16px;
line-height: 1.5;
color: black;
background-color: black;
}

/* Header styles */
header {
background-color: black;
padding: 1em;
display: flex;
justify-content: space-between;
align-items: center;
}

nav ul {
display: flex;
list-style: none;
}

nav li {
margin-right: 1em;
}

nav a {
text-decoration: none;
color: white;
font-weight: bold;
}

nav a:hover {
color: black;
}

h1 {
font-family: 'Montserrat', sans-serif;
font-size: 2em;
color: white;
}

h2 {
font-size: 1.5em;
font-weight: normal;
color: white;
}

/* Main styles */
main {
padding: 2em;
}

section {
margin-bottom: 2em;
}

h3 {
font-family: 'Montserrat', sans-serif;
font-size: 1.5em;
margin-bottom: 1em;
color: black;
}

ul {
list-style: none;
margin-left: 1em;
}

li:before {
content: '●';
margin-right: 0.5em;
color: black;
}

li a {
color: black;
text-decoration: none;
}

li a:hover {
text-decoration: underline;
}

/* Footer styles */
footer {
background-color: black;
padding: 1em;
text-align: center;
color: white;
font-size: 0.8em;
}
